.idea/
__pycache__/
*.gz
*.iml
.ipynb_checkpoints/
sccer-venv/
.release/
data/00_raw/*
!data/00_raw/.gitkeep
data/10_interim/*
!data/10_interim/.gitkeep
data/20_final/*
!data/20_final/.gitkeep
*.egg-info
targets/*
!targets/.gitkeep
